<main class="main">
  <div class="inner">
    <% if  user_signed_in? %>
      <div class="greeting"> 
        <a class="greeting__link" href="edit_user_registration_path">
          <%= "こんにちは"%> <%= current_user.name%><%="さん"%>
        </a> 

      </div> 
    <% else %>
    <div class="card__wrapper">
    <% end %>
      <%# 投稿機能実装後、部分テンプレートでプロトタイプ投稿一覧を表示する %>
    </div>
  </div>
</main>
